* {
  margin: 0;
  padding: 0;
}

#header {
  background-color: skyblue;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: inherit;
}

.tile {
  height: 50px;
  width: 100px;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

#container1 {
  background-color: black;
  height: 35vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#container2 {
  background-color: black;
  height: 35vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.tile {
  height: 180px;
  width: 180px;
}
